body {
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: 'Lora', serif;
  justify-content: center;
  align-items: center;
 
}

h1 {
  color: rgb(127, 245, 186);
font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p, h2, h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.hidden {
  display: none;
  transition: 10s ease-out;
}

.about{
  position: relative;
  top: -375px
}

.card {
  background-color: #455a64;
  
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  backdrop-filter: blur(14px);
  background-color: #797687;
  box-shadow: 0 5px 15px#37474f;
  opacity: 0.85;
  width: 500px;
}

.list{
  position: relative;
  
 
}

li{
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.navli{
  list-style-type: none;
  display: block;
  float: left;
}


label{
  position: absolute;
  top: 0;
  left: 0.25%;
  display:flex;
   flex-direction:column;
   width:70px;
   cursor:pointer;

 }
 
 label span{
   background: rgb(86, 236, 199);
   border-radius:10px;
   height:7px;
   margin: 7px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 span:nth-of-type(1){
   width:50%;
   
 }
 
 span:nth-of-type(2){
   width:100%;
 }
 
 
 span:nth-of-type(3){
   width:75%;
  
 }

 .button-1{
  appearance: none;
  border: none;
  position: relative;
  background-color: #344252;
  color: rgb(106, 245, 203);
  cursor: pointer;
  display: block;
  width: 132px;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto;
  padding: 12px 0;
 }

 .expand-button{
  appearance: none;
  border: none;
  position: relative;
  background-color: #344252;
  color: rgb(106, 245, 203);
  cursor: pointer;
  display: block;
  width: 132px;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto;
  padding: 5px 0;
 }
 
 
 input[type="checkbox"]{
   display:none;
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(8px,0px)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
   transform-origin:top;
   transform:rotatez(-45deg)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
   transform-origin:bottom;
   width:50%;
   transform: translate(30px,-11px) rotatez(45deg);
 
 }

 #star{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
 }
 

 .radar{
   border-radius: 20px;
   box-shadow: rgb(63, 63, 75) 0 5px 15px;
 }

 #searchbar{
   border-radius: 20px;
  font-family: monospace;
 }

 .link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
 }

 .home {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  bottom: -50px;
  left: -340px;
 }


.home{
  border-radius: 10px;
}

.weather-title{
  position: relative;
  top: 40px;
  z-index: 1;
}

.cloud{
  width: 350px;
  height: 120px;
  background: #a7a9aa;
  box-shadow: 10px 10px rgba(116, 221, 177, 0.705);
  border-radius:100px;
  position: relative;
  left: 65px;
}

.cloud::after, .cloud::before{
  content:"";
  position: absolute;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
  
}
.cloud::after{
  width:100px;
  height:100px;
  top:-30px;
  right:210px;
}
.cloud::before{
  width:180px;
  height:180px;
  left:125px;
  top: -70px;
}

a:visited{
  color: white;
  text-decoration: none;
}
